.cover__overlay {
    background-image: url(../../../images/cover-trains.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-size: cover;
    max-width: 1184px;
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding: 245px 312px;
}

.cover__overlay:before {
    content: '';
    display: block;
    background-color: #2A2C2F;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    transition: opacity 0.4s ease;
}

.cover__overlay:hover::before {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 1126px) {
    .cover__overlay {
        padding: 195px 232px;
  }
}

@media (max-width: 968px) {
    .cover__overlay {
        padding: 115px 104px;
  }
}

@media (max-width: 710px) {
    .cover__overlay {
        padding: 33px 16px;
  }
}