.footer {
    max-width: 1184px;
    margin: 0 auto;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: calc(100% - 96px);
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: calc(100% - 48px);
    }
}

@media (max-width: 632px) {
    .footer {
        display: grid;
    }
  
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: calc(100% - 32px);
        display: block;
  }
}